<!DOCTYPE html>
<h1>Hello</h1>

<form action=/checkout method= post> 
<label for="item">Item</label>
<input type="text" name="first_item" id="first_item">
<br>
<br>
<input type="submit" value="submit" id="submit">
</form>
